@import "./reset.scss";

body {
  background: #dce6d1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.phone {
  background-color: black;
  border-radius: 50px;
  height: 95%;
  width: 420px;
  padding: 50px 20px;
  box-sizing: border-box;
}
